.projects {
    margin-top: 150px;

    &__list {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    &__item {
        display: flex;
        flex-direction: row;
        gap: 100px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgb(19, 19, 19);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        padding: 70px 80px;
        border-radius: 80px;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
    }

    &__title {
        font-size: 28px;
        font-weight: 500;
        text-wrap: nowrap;

        &_description {
            display: block;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 32px;
        }
    }

    &__icon {
        max-width: 30px;
        height: 30px;
        margin-right: 7px;
    }

    &__links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    &__link {
        color: #fff;
    }

    &__source {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #b292ff;
        font-size: 22px;
        border-radius: 100px;
        padding: 5px 10px;
        transition: color 0.1s ease-in-out;
        transition: background 0.1s ease-in-out;

        &:visited {
            color: #b292ff; // тот же цвет, что и обычная ссылка
        }

        &:hover {
            background-color: var(--color-header-hover);
            color: white;

            svg path {
                fill: white;
            }
        }
    }

    &__left {
        gap: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 350px;
        width: 100%;
    }

    &__right {
        max-width: 800px;
    }

    &__description {
        line-height: 42px;
        color: #6f6f6f;
    }

    &__technologies {
        &_title {
            display: block;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }
}

.technologies {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__item {
        gap: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        border-radius: 100px;
        background-color: #262626;
    }
}

.title__container {
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 100px;
    max-width: fit-content;
    margin-bottom: 50px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.technology {
    &__span {
        font-size: 15px;
        font-weight: 600;
        color: black;
    }

    &__icon {
        margin: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        border-radius: 5px;
    }
}

@media (max-width: 992px) {
    .projects {
        &__item {
            border-radius: 40px;
            padding: 40px 50px;
            flex-direction: column;
            gap: 60px;
        }

        &__left {
            max-width: 100%;
            flex-direction: column;
            gap: 30px;
        }
    }

    .title__container {
        padding: 15px;
    }
}

@media (max-width: 404px) {
    .projects {
        &__title {
            font-size: 20px;
            text-wrap: wrap;
        }
    }

    .title__container {
        max-width: 100%;
        padding: 10px;
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 360px) {
    .projects {
        &__item {
            border-radius: 40px;
            padding: 30px 30px;
            flex-direction: column;
            gap: 60px;
        }

        &__title {
            font-size: 20px;
        }
    }
}
