.projects {
    margin-top: 150px;

    &__list {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    &__item {
        display: flex;
        flex-direction: row;
        gap: 100px;
        border: 1px solid #272727;
        padding: 70px 80px;
        border-radius: 80px;
    }

    &__title {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 20px;

        &_description {
            display: block;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 32px;
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    &__link {
        color: #fff;
    }

    &__source {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #b292ff;
        font-size: 22px;
    }

    &__left {
        gap: 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 350px;
        width: 100%;
    }

    &__right {
        max-width: 800px;
    }

    &__description {
        line-height: 42px;
        color: #6f6f6f;
    }

    &__technologies {
        &_title {
            display: block;
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 992px) {
    .projects {
        &__item {
            border-radius: 40px;
            padding: 40px 50px;
            flex-direction: column;
            gap: 60px;
        }

        &__left {
            max-width: 100%;
            flex-direction: column;
            gap: 30px;
        }
    }
}

@media (max-width: 360px) {
    .projects {
        &__item {
            border-radius: 40px;
            padding: 30px 30px;
            flex-direction: column;
            gap: 60px;
        }
    }
}

.technologies {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__item {
        padding: 5px 15px;
        border-radius: 100px;
        background-color: #262626;
    }
}
