.hero {
    margin-top: 170px;
    margin-bottom: 250px;

    &__1350 {
        display: none;
    }

    &__container {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        max-width: 660px;
    }

    &__title {
        font-size: 75px;
        font-weight: 400;
    }

    &__description {
        margin-top: 30px;
        line-height: 48px;
        color: #6f6f6f;
    }

    .whiteText {
        color: #fff;
    }

    &__links {
        margin-top: 30px;
        height: fit-content;
    }

    &__link {
        padding: 12px 40px;

        &:first-child {
            background-color: #fff;
            color: #000;
            border-radius: 100px;
            margin-right: 30px;
        }
    }

    &__avatar {
        max-width: 550px;
        border-radius: 100px;
    }


    @media (max-width: 1350px) {
        .hero {
            
            &__title {
                text-align: center;
            }

            &__description {
                text-align: center;
            }

            &__links {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &__link:first-child {
                margin-right: 0;
                margin-bottom: 10px;
            }

            &__avatar {
                max-width: 100%;
            }

            &__container {
                flex-direction: column;
                align-items: center;
            }

            &__right {
                display: none;
            }

            &__1350 {
                display: block;
                margin-bottom: 40px;
            }
        } 
    }

    @media (max-width: 700px) {
        .hero {
            &__avatar {
                max-width: 100%;
            }
        }
    }

    @media (max-width: 480px) {
        &__title {
            font-size: 50px;
        }

        .hero {

            // &__links {
            //     display: flex;
            //     flex-direction: column;
            //     align-items: center;
            // }

            &__description {
                line-height: 30px;
            }

            &__link {
                max-width: fit-content;
            }
        }
    }
}

@media (max-width: 590px) {
    .hero {
        margin-top: 70px;
        margin-bottom: 70px;

        &__avatar {
            border-radius: 50px;
        }
    }
}
