.projectsPage {
    margin: 150px 0;

    .content__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .page__title {
            font-size: 24px;
            line-height: 48px;
            font-weight: 300;
            color: #C8C8C8;
            margin-bottom: 40px;
            text-align: center;
        }

        .cv__link {
            padding: 12px 40px;
            background-color: #fff;
            color: #000;
            border-radius: 100px;
        }
    }
}