.footer {
    max-width: 100%;
    width: 100%;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #131313;
        padding: 30px 70px;
        border-radius: 100px;
        margin-bottom: 30px;
    }

    &__left {
        font-size: 26px;
        color: #6f6f6f;
    }

    &__right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .social__link {
        width: 35px;
        height: 35px;

        &:hover {
            svg path {
                fill: white;
            }
        }
    }

    .link__svg {
        width: 35px;
        height: 35px;
    }

    &__copyright {
        color: #6f6f6f;
        margin-left: 70px;
    }

    @media (max-width: 1024px) {
        &__copyright {
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    @media (max-width: 480px) {
        &__container {
            padding: 10px 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__left {
            margin-bottom: 10px;
        }
    }
}
